---
layout: page
title: "Countries With Active Projects Missing a dai.com URL"
published: true
---
<ul>
  <li class="inset">
    {% for country_hash in site.data.countries %}
      {% assign country_data = country_hash[1] %}
        {% if country_data.Status == 'Active' %}
          <ul class="country-block">
            <li class="country"><strong>{{ country_hash[0] }}</strong></li><!-- COUNTRY NAME -->
            {% if country_data.Projects %}
            {% for project_hash in country_data.Projects %}
              {% assign project_data = project_hash[1] %}
              {% unless project_data.URL %}
            <li class="inset project-block">
              <ul>
                  <li class="inset project">
                    <ul>    
                      <li>{{ project_hash[0] }}</li>
                      <li class="inset">
                        <ul>
                          <li>Name: <strong>{{ project_data.Name }}</strong></li>
                          <li>Active: <strong>{{ project_data.Start_Date }} - {{ project_data.End_Date }}</strong></li>
                          <li>Client: <strong>{{ project_data.Client }}</strong></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
              </ul>
            </li>
              {% endunless %}
              {% endfor %}
            {% endif %}
          </ul>
        {% endif %}
    {% endfor %}
  </li>
</ul>