---
layout: page
title: "EC Shades CartoCSS"
published: true
---
<h2><a href="{{ site.baseurl }}/ec-shades.txt">Download</a></h2>
  {% highlight css %}
{% strip %}
#Countries{
{% assign code = '' %}
{% for country_hash in site.data.countries %}
    {% for project in country_hash[1].Projects %} 
        {% if project[1].Client contains 'European Commission' %}
            {% unless code == country_hash[1].SOV_A3 %}
    [SOV_A3='{{ country_hash[1].SOV_A3 }}'],
            {% endunless %}
            {% assign code = country_hash[1].SOV_A3 %}
        {% endif %}
    {% endfor %}
{% endfor %}
{polygon-fill: rgba(248, 234, 11,  .8);}
}
{% endstrip %}
  {% endhighlight %}