---
layout: page
title: "USAID Country Shades CartoCSS"
published: true
---
<h2><a href="{{ site.baseurl }}/usaid-shades.txt">Download</a></h2>
  {% highlight css %}
  #Countries{
{% strip %}
{% for country_hash in site.data.countries %}
{% for project in country_hash[1].Projects | limit:1 %} 
{% if project[1].Client contains 'U.S. Agency for International Development' %}
[SOV_A3='{{ country_hash[1].SOV_A3 }}'],
{% endif %}
{% endfor %}
{% endfor %}
{% endstrip %}
    {polygon-fill: rgba(29, 90, 166, .8);}
  }
  {% endhighlight %}